@charset "Utf-8";

.minha {
    border-radius: 500px;
    padding: 20px 20px 20px 20px;
    
}

h1 {
    font-family:monospace;
    text-align: center;
    color: orange;
    font-size: 30px;
}

body {
    background-color:wheat;
}

footer {
    padding-top: 10%;
}



