@charset "UTF-8";
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #03A63C, #04ff43d6)
}

main {
    background-color: whitesmoke;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px#000100;
}
p {
    text-align: justify;
    color: #027333;
    
}
 
h1 {
    color: #012340;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(246, 255, 0);

}

h2 {
    color: #025939;
}