@charset  'UTF-8';

body { 
    font-family: monospace;
 background-color: darkgrey;
 margin: 0%;
}

nav { 
    background-color: rgb(132, 131, 131);
    padding: 5px;
    box-shadow: 6px 5px 7px 0px black; /*ALTERAÇÃO FEITA BASEADO NO DEV.TOOLS NO NAVEGADOR GOOGLE CHROME */
   
} 

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin-right: 30px;
   
}

nav > a:hover {
text-decoration: underline;

}

header {

    background-color: white ;
    margin:10px;
    padding: 10px;
}

main {
    width: auto;
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    margin:10px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 4px #000000ad;
}

footer {
    background-color: black;
    color:rgb(132, 131, 131);
    margin: 0%;
    padding: 4px;
    text-align: center;
}

article {
    background-color: rgb(132, 131, 131);
    padding: 6px;
}

article > aside {
    background-color:rgb(86, 85, 85);
}
.explicação {
    color: red;
    font-size: 25px;
    font-weight: bolder;
}



